@import "tailwindcss";

:root {
  --color-white-100: #d4dee7;

  --color-gray-800: #2c3d4f;
  --color-gray-950: #141c24;

  --text-primary-100: var(--color-white-100);
  --text-primary-800: var(--color-gray-800: #2c3d4f)
    --color-bg: var(--color-gray-950);

  /* fonts */
  --font-family: "Josefin Sans", sans-serif;
}

body {
  font-family: var(--font-family);
  background-color: var(--color-bg);
}
